<div class="outer-article-header-container">
    <div class="article-header site-width">
        <div id="page-title-h1">
            <h1>news headline goes in here and can be longer than one line</h1>
        </div>
        <div id="information">
            <div id="profile-picture"><img src="assets/images/geoff-chef.png"></div>
            <div id="information-text">
                <p>
                    Author:
                    <span class="orange"><strong>Geoff Chef</strong></span>
                </p>
                <p>
                    Posted:
                    <span><strong>19.12.2020</strong></span>
                </p>
                <p>
                    Posted in:
                    <span><span class="orange"><strong>Food</strong></span> | <span
                            class="orange"><strong>Cafe</strong></span></span>
                </p>
            </div>
        </div>
        <div class="main-article-image"><img src="assets/images/heroes.png"></div>
    </div>
</div>