<div class="faqs">
    <div class="faqs-title">FAQs</div>
    <div class="faqs-body">
        <div class="faqs-entry">
            <div class="faqs-question-container">
                <div class="faqs-question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </div>
                <div class="collapse-icon-container">
                </div>
            </div>
            <div class="faqs-answer">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
        </div>
        <div class="faqs-entry">
            <div class="faqs-question-container">
                <div class="faqs-question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </div>
                <div class="collapse-icon-container">
                </div>
            </div>
            <div class="faqs-answer">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
        </div>
        <div class="faqs-entry">
            <div class="faqs-question-container">
                <div class="faqs-question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                </div>
                <div class="collapse-icon-container">
                </div>
            </div>
            <div class="faqs-answer">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
        </div>
    </div>
</div>