<div class="footer">
    <div class="footer-top-bar-container">
        <div class="footer-top-bar">
            <div class="footer-top-bar-left">
                <div class="newsletter-icon-container"></div>
                <div class="newsletter-title">The Feed Newsletter</div>
            </div>
            <div class="footer-top-bar-right">
                <div class="newsletter-description">
                    <strong>Keep up to date with all the latest news and ways to get involved</strong>
                </div>
                <div class="newsletter-button-container">
                    <button class="newsletter-signup-button button-blue">
                        Sign up to our newsletter
                    </button>
                </div>
            </div>
        </div>    
    </div>
    <div class="footer-bottom-bar-container">
        <div class="footer-bottom-bar">
            <div class="footer-bottom-bar-left">
                <div class="footer-bottom-bar-left-upper">
                    <div class="footer-bottom-bar-left-upper-left">
                        <div class="footer-thefeed-logo-container"></div>
                    </div>
                    <div class="footer-bottom-bar-left-upper-right">
                        <p><strong>Get in touch</strong></p>
                        <p>01603 850447</p>
                        <p>info@thefeed.org.uk</p>
                    </div>
                </div>
                <div class="footer-bottom-bar-left-lower">
                    <div class="footer-bottom-bar-left-lower-left">
                        Website by <span class="text-pink">Candour</span>
                    </div>
                    <div class="footer-bottom-bar-left-lower-right">
                        <p>Terms and conditions of use</p>
                        <p>Privacy notice</p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-bar-right">
                <div class="footer-bottom-bar-right-row0">
                    <strong>The Feed, 78-80 Prince of Wales Road, Norwich, NR1 1NJ</strong>
                </div>
                <div class="footer-bottom-bar-right-row1">
                    <div class="footer-bottom-bar-right-row1-left">
                        <p><strong>Cafe opening hours</strong></p>
                        <p>Monday - Friday</p>
                        <p>8.30am - 1.30pm</p>
                    </div>
                    <div class="footer-bottom-bar-right-row1-right">
                        <p><strong>Community fridge</strong></p>
                        <p>Monday - Friday</p>
                        <p>2-4pm</p>
                        <p>Women only on Fridays</p>
                    </div>
                </div>
                <div class="footer-bottom-bar-right-row2">
                    <p>&#169; 2020 The Feed Enterprises CIC. We are registered in England and Wales as company number 08915020. All our profits go to The Feed Foundation, registered charity number 1176940.</p>
                </div>
            </div>
        </div>
    </div>
</div>