<header>
    <div id="header" class="site-width">
        <div id="quick-links">
            <div id="share-your-time-box" class="quick-links-box">
                <span class="quick-links" id="share-your-time">Share your time</span>
                <div class="arrow-icon">
                    {{ svg src="assets/icons/arrow" }}
                </div>
            </div>
            <div id="donate-to-the-feed-box" class="quick-links-box">
                <span class="quick-links" id="donate-to-the-feed">Donate to The Feed</span>
                <div class="arrow-icon">
                    {{ svg src="assets/icons/arrow" }}
                </div>
            </div>
        </div>
        <div class="header-inner-container">
            <div id="logo">
                {{ svg src="assets/images/thefeed-logo" id="logo" }}
            </div>
            <div id="navigation-menu">
                <div class="navigation-menu-inner">
                    <span class="navigation-menu-item" id="about">About</span>
                    <span class="navigation-menu-item" id="our-projects">Our Projects</span>
                    <span class="navigation-menu-item" id="cafe">Cafe</span>
                    <span class="navigation-menu-item" id="catering">Catering</span>
                    <span class="navigation-menu-item" id="contact">Contact</span>
                </div>
            </div>
        </div>
        <div id="site-path"><span id="site-path-parent-page-titles">Home &gt; About us &gt; News &gt; </span><span id="site-path-page-title">News headline goes here and can be longer than one line</span></div>
    </div>
</header>