/**
 * A collection of useful global mixins
 */

 @mixin text-decoration-flip {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
}

@mixin reset-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
