/**
 * Site-Wide variables
 */

// Fonts
$font__primary: "Poppins", sans-serif;

// Utility colors
$color__white: #fff;
$color__black: rgb(66, 48, 48);

// Outer gutters
$gutter--mobile: 16px;
$gutter--tablet: 28px;
